@model Labb3.Models.PersonDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Age)
            </td>
            <td>
                @Html.DisplayFor(model => model.FavSong)
            </td>
            <td>
                @Html.DisplayFor(model => model.Artist)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPerson", new { Id = Model.Id }, null) |
                @Html.ActionLink("Delete", "DeletePerson", new { Id = Model.Id }, null)
            </td>
        </tr>
    </tbody>
</table>

<p>Error: @ViewBag.error</p>

<div>
    <a asp-action="Filter">Back to List</a>
</div>